<!DOCTYPE html>
<html>
    <body>
        <div id="main">
            <form action="/edit/<%=element.id%>" method="post">
                    <label for="name">Nombre</label>
                    <br>
                    <input type="text" id="name" name="name" value="<%=element.name%>" readonly=TRUE>
                    <br>
                    <br>
                    <label for="name">Fecha de nacimiento</label>
                    <br>
                    <input type="text" id="birthdate" name="birthdate" value="<%=element.birthdate%>">
                    <br>
                    <br>
                    <label for="name">Nacionalidad</label>
                    <br>
                    <input type="text" id="nationality" name="nationality" value="<%=element.nationality%>">
                    <br>
                    <br>
                    <label for="name">TeamId</label>
                    <br>
                    <input type="text" id="teamId" name="teamId" value="<%=element.teamId%>">
                    <br>
                    <br>
                    <label for="name">Posición</label>
                    <br>
                    <input type="text" id="position" name="position" value="<%=element.position%>">
                    <br>
                    <br>
                    <label for="name">Numero</label>
                    <br>
                    <input type="text" id="number" name="number" value="<%=element.number%>">
                    <br>
                    <br>
                    <label for="name">LeagueId</label>
                    <br>
                    <input type="text" id="leagueId" name="leagueId" value="<%=element.leagueId%>">
                    <br>
                    <br>
                    <br>
            
                    <input type="submit" class="form-submit" value="Añadir">
            </form>
            </div>
</body>
</html>
